extends layout

block body
  #welcome.jumbotron
    h3 Zoom REST API's - Node.js
    h4 Grupos
    p 
         a(href='/createGroup') Crear grupo
    p 
         a(href='/myGroups') Listar grupos
    p 
         a(href='/addUserToGroup') Listar grupos
