extends layout

block body
  #welcome.jumbotron
    h3 Zoom REST API's - Node.js
    h4
    h4  Reuniones - Listar reuniones
    h4  Reuniones - Crear reunión
    h4  Grabaciones - Obtener grabaciones
